<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Benvenuto nella mia applicazione!</h1>
    <ul>
        <li><a href="{% url 'users:user_list' %}">Utenti</a></li>
        <li><a href="{% url 'music_streaming:song_list' %}">Canzoni</a></li>
        <li><a href="{% url 'music_streaming:playlist_list' %}">Playlist</a></li>
        <li><a href="{% url 'music_streaming:recommendation_list' %}">Consigli</a></li>
        <li><a href="{% url 'users:profile' %}">Profilo</a></li>
        <li><a href="{% url 'users:user_login' %}">Login</a></li>
        <li><a href="{% url 'users:user_logout' %}">Logout</a></li>
    </ul>
</body>
</html>


