body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-bottom: 80px; /* spazio per il footer */
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #1b1b1b;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}